body {
    margin: 0;
    background: #222;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
}

canvas {
    image-rendering: pixelated;
}
